<div class="form">
    <input type="text" placeholder="First Name" id="firstName" name="firstName" [(ngModel)]="staffData.firstName"/>
    <input type="text" placeholder="Last Name" id="lastName" name="lastName" [(ngModel)]="staffData.lastName"/>

    <!-- <select id="clinicLocationId" name="clinicLocationId" [(ngModel)]="patientDetail.clinicLocationId" matNativeControl required>                        
        <ng-container>
            <option *ngFor="let cliniclocation of allCliniclocations"  [value]="cliniclocation.locationId">
                {{cliniclocation.locationName}}
            </option>
        </ng-container>
    </select> -->

    

</div>