<div class="container" style="height: 600px;margin-bottom: 30px;">
            <mat-dialog-content>
                <div class="card custom-card">
                    <div class="card-header card-header-danger">
                        <div class="header-content">
                            <h4 style="margin-left: 120px;color: white;font-size: 24px;margin-top: 5px;">Add Clinic Location</h4>
                            <p class="card-category"></p>
                        </div>
                        <div class="button-container">
                            <button mat-icon-button color="white" [mat-dialog-close]="false">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <form  #employeeForm="ngForm" (ngSubmit)="createStaff()">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row" style="border: 2px groove red;">
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">

                                                <mat-form-field class="example-full-width" style="margin-left: 30px;" appearance="outline" class="wt-500" >
                                                    <mat-label>First Name</mat-label>
                                                    <input matInput type="text"  id="staffData" 
                                                    name="staffData" [(ngModel)]="staffData.firstName" required>
                                                </mat-form-field>

                                              
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">

                                                <mat-form-field class="example-full-width" appearance="outline" class="wt-500" >
                                                    <mat-label>First Name</mat-label>
                                                    <input matInput type="text"  id="lastName" 
                                                    name="lastName" [(ngModel)]="staffData.lastName" required>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="top:7px;">
                                            <div class="form-group label-floating">

                                                <mat-form-field style="width: 90px;" appearance="outline" class="wt-500" >
                                                    <mat-label>Sex</mat-label>
                                                    <select id="gender" name="gender" [(ngModel)]="staffData.gender" matNativeControl required> 
                                                        <ng-container>  
                                                            <option value="male">Male</option>
                                                            <option value="female">Female</option>
                                                            <option value="unknown">Unknown</option>
                                                        </ng-container>
                                                    </select>
                                                  
                                                </mat-form-field>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 5px;border: 2px groove red;">
                                        <div class="col-md-4">
                                            <input type="date" id="dob" name="dob" [(ngModel)]="staffData.dob" class="required-asterisk" placeholder="Date"  appearance="outline" class="wt-500" required/>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width" appearance="outline" class="wt-500" >
                                                <mat-label>Login Id</mat-label>
                                                <input matInput type="text"  id="loginId" 
                                                name="loginId" [(ngModel)]="staffData.loginId" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="example-full-width" appearance="outline" class="wt-500" >
                                                <mat-label>SSn Number</mat-label>
                                                <input matInput type="text"  id="ssn" 
                                                name="ssn" [(ngModel)]="staffData.ssn" required>
                                            </mat-form-field>

                                        </div>
                                    </div>
<!--                                    
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <mat-form-field class="example-full-width" appearance="outline" class="wt-500" >
                                                    <mat-label>Email</mat-label>
                                                    <input matInput type="text"  id="email" 
                                                    name="email" [(ngModel)]="staffData.email" required>
                                                </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <mat-form-field class="example-full-width" appearance="outline" class="wt-500" >
                                                    <mat-label>Mobile Number</mat-label>
                                                    <input matInput type="text"  id="mobileNo" 
                                                    name="mobileNo" [(ngModel)]="staffData.mobileNo" required>
                                                </mat-form-field>
                                            </div>
                                              
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group label-floating" style="margin-top:4%">

                                                <mat-form-field appearance="outline" class="wt-500" >
                                                    <mat-label> Service Location</mat-label>
                                                    <select id="locationId" name="locationId" [(ngModel)]="staffData.locationId" matNativeControl required>                        
                                                        <ng-container>
                                                            <option *ngFor="let cliniclocation of allCliniclocations"  [value]="cliniclocation.locationId">
                                                                {{cliniclocation.locationName}}
                                                            </option>
                                                        </ng-container>
                                                    </select>
                                                  
                                                </mat-form-field>

                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-offset-1" style="top:-12px;">
                                    <div class="picture-container">
                                        <h6>Choose Picture</h6>
                                        <div class="picture">
                                            <img src="{{staffImage}}" class="picture-src" id="wizardPicturePreview"
                                                title="" />
                                            <input type="file" id="wizard-picture" name="staffImageFile"
                                              >
                                            <!-- <input type="hidden" class="form-control" formControlName="staffImage"
                                                id="staffImageId" value="init"> -->
                                        <!-- </div>
                                       
                                    </div>
                                </div>
                            </div> -->
                           
                          <!--  <div class="row">
                                <div class="col-md-4 ">
                                    <br>
                                    <div class="form-group label-floating">


                                        <mat-form-field appearance="outline" class="wt-500" >
                                            <mat-label>Credential</mat-label>
                                            <select id="designation" name="designation" [(ngModel)]="staffData.designation" matNativeControl required>                        
                                                <ng-container>
                                                    <option *ngFor="let designation of allCredentials"  [value]="designation.lookupCode">
                                                        {{designation.lookupCode}}
                                                    </option>
                                                </ng-container>
                                            </select>
                                          
                                        </mat-form-field>

                                       
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <br>
                                        <label class="pull-left label-floating">
                                            <small class="AsteriskColor">*</small>
                                            Is the user a provider?</label>
                                        <div class="radio-inline">
                                            &nbsp;&nbsp;
                                            <label for="provider">
                                                <input name="providerFlag"  [(ngModel)]="staffData.providerFlag" value="Y"
                                                    type="radio" id="providerFlag"> Yes
                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label for="notAProvider">
                                                <input name="providerFlag"  [(ngModel)]="staffData.providerFlag" value="N"
                                                    type="radio" id="providerFlag">No
                                            </label>
                                        </div>
                                      
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <br>
                                        <label class="pull-left label-floating">
                                            <small class="AsteriskColor">*</small>
                                            Is the user an admin?</label>
                                        <div class="radio-inline">
                                            &nbsp;&nbsp;
                                            <label>
                                                <input name="authority"  [(ngModel)]="staffRole.authority"
                                                    value="ROLE_ADMIN" type="radio" id="authority"
                                                    > Yes
                                            </label>
                                        </div>
                                        <div class="radio-inline">
                                            <label>
                                                <input name="authority"[(ngModel)]="staffRole.authority"
                                                    value="ROLE_USER" type="radio" id="authority"
                                                    > No
                                            </label>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4" style="top:7px;" id="specialtyDiv">
                                    <div class="form-group label-floating" >

                                        <mat-form-field appearance="outline" class="wt-500" >
                                            <mat-label>Credential</mat-label>
                                            <select id="providerType" name="providerType" [(ngModel)]="staffData.providerType" matNativeControl required>                        
                                                <ng-container>
                                                    <option *ngFor="let providerType of allProviderTypes"  [value]="providerType.lookupCode">
                                                        {{providerType.lookupCode}}
                                                    </option>
                                                </ng-container>
                                            </select>
                                          
                                        </mat-form-field>


                                      
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating" id="npiDiv">
                                        <label class="control-label required" >
                                            <small class="AsteriskColor">*</small>
                                            NPI
                                        </label>
                                        <input type="text" id="npiNumber" class="form-control" [(ngModel)]="staffData.npiNumber" 
                                          name="npiNumber" >
                                     
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:8px;">
                                <div class="col-md-2">
                                    <label class="label-floating" style="color:black;margin-top:11px">
                                        License Number:
                                    </label>
                                </div>
                                <div class="col-md-6" style="right:45px">
                                    <div class="row">
                                        <div class="col-md-4" style="top:7px;">
                                            <div class="form-group label-floating" id="stateDiv">

                                                <mat-form-field appearance="outline" class="wt-500" >
                                                    <mat-label>State</mat-label>
                                                    <select id="addressState" name="addressState" [(ngModel)]="staffData.addressState" matNativeControl required>                        
                                                        <ng-container>
                                                            <option *ngFor="let staffAddressState of allStates"  [value]="staffAddressState.lookupCode">
                                                                {{staffAddressState.lookupCode}}
                                                            </option>
                                                        </ng-container>
                                                    </select>
                                                  
                                                </mat-form-field>

                                              
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group label-floating" id="numberDiv">
                                                <label class="control-label " >
                                                    Number
                                                </label>
                                                <input type="text" class="form-control" id="licenseNumber" name="licenseNumber" [(ngModel)]="staffData.licenseNumber">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                           
                                                <mat-form-field class="example-full-width" appearance="outline" class="wt-500" >
                                                    <mat-label>Expiration Date</mat-label>
                                                    <input matInput type="text"  id="licenseExpDate" 
                                                    name="licenseExpDate" [(ngModel)]="staffData.licenseExpDate" required>
                                                </mat-form-field>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="label-floating" style="color:black;margin-top:11px">
                                        DEA Number:
                                    </label>
                                </div>
                                <div class="col-md-6" style="right:45px">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group label-floating" id="deaNumDiv">
                                                <mat-form-field class="example-full-width" appearance="outline" class="wt-500" >
                                                    <mat-label> Number</mat-label>
                                                    <input matInput type="text"  id="deaNumber" 
                                                    name="deaNumber" [(ngModel)]="staffData.deaNumber" required>
                                                </mat-form-field>
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="label-floating form-group" id="deaExpDateDiv">
                                               
                                                <mat-form-field style="width: 100% !important;">
                                                    <div class="input-icon-wrap" style="margin-top:-8px;">

                                                        <mat-form-field class="example-full-width" appearance="outline" class="wt-500" >
                                                            <mat-label> Number</mat-label>
                                                            <input matInput type="text"  id="deaExpDate" 
                                                            name="deaExpDate" [(ngModel)]="staffData.deaExpDate" required>
                                                        </mat-form-field>
                                                    </div>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating" id="malPracCovDiv">
                                        <label class="control-label required">
                                            Malpractice Coverage
                                        </label>
                                        <input type="text" class="form-control" name="malpracticeCoverage"  id="malpracticeCoverage" [(ngModel)]="staffData.malpracticeCoverage">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="label-floating form-group" id="malPracExpDiv">
                                      
                                        <mat-form-field style="width: 100% !important;">
                                            <div class="input-icon-wrap" style="margin-top:-8px;">

                                                <mat-form-field class="example-full-width" appearance="outline" class="wt-500" >
                                                    <mat-label> EXP Date</mat-label>
                                                    <input matInput type="text"  id="deaExpDate" 
                                                    name="deaExpDate" [(ngModel)]="staffData.deaExpDate" required>
                                                </mat-form-field>

                                            </div>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            </div>
                         
                            <div class="clearfix"></div> -->
                        </div>
                        </div>
                        </form>
                    

                    
                    </div>
                </div>
            </mat-dialog-content>
</div>