/* #data1{
    width: 1500px;
    height: 40px;
    border: 1px groove #4A99C7;
    background-color:white;
    
} */

#data1{
    width: 1490px;
    height: 40px;
    background-color:white;
    margin-left: 30px;
    margin-top: 20px;
}

#btn{
    background-color: #4A99C7;
    color: white;
    margin-left: 10px;
}


#navData{
    border: 1px groove red;
    width: 100px;
    height: 32px;
    border:1px groove #4A99C7;
}

.contentAlign {
    color: black;
    background-color: white;
    vertical-align: middle;
    padding: 0%;
    margin: auto;
    text-decoration: none;
  }