
<div class="container-fluid" style="background-color: #4a99c7;">

    <div class="header">
        <div class="col-md-4">
            <h2 style="font-weight: bold;color: white;margin-top: 5px;">Exam</h2>
        </div>

        <div class="col-md-8" style="background-color: white; margin-top: 8px;height: 30px;width: 600px;margin-left: 60px;">
            <div class="row">
                <div class="col-md-1"><a (click)="HpiComp()" style="background-color:white;;">HPI</a></div>
                <div class="col-md-1"><a (click)="Roscomp()"  style="background-color:white;">ROS</a></div>
                <div class="col-md-2"><a (click)="Medicationcomp()"  style="background-color:white;">Medication</a></div>
                <div class="col-md-2"><a (click)="Historycomp()"  style="background-color:white;">History</a></div>
                <div class="col-md-1"><a (click)="Examcomp()"  style="background-color:white;">Exam</a></div>
                <div class="col-md-1"><a (click)="plancomp()"  style="background-color:white;">plan</a></div>
            </div>
        </div>

    </div>

</div>

<div class="row" style="margin-top: 30px;border: 2px groove grey;padding: 20px;background-color: dodgerblue;">
    <div class="col-md-12">
        <div class="col-md-4"><a style="color: white;font-weight: bold;">Last Name : {{patientRecords.lastName}}</a></div>
        <div class="col-md-4"><a style="color: white; font-weight: bold;">First Name : {{patientRecords.firstName}}</a></div>
        <div class="col-md-4"> <a style="color: white;font-weight: bold;">DOB : {{patientRecords.dob | date:'shortDate'}} </a></div>
    </div>

    <div class="col-md-12">
        <div class="col-md-4"><a style="color: white;font-weight: bold;">List of Allergy</a></div>
        <div class="col-md-4"><a style="color: white;font-weight: bold;">Sex : {{patientRecords.gender}}</a></div>
        <div class="col-md-4"><a style="color: white;font-weight: bold;">Time : {{patientRecords.createdDate | date:'shortTime'}}</a></div>
    </div>
 
</div>


<form [formGroup]="ExamForm" mmethod="#" action="">
    <div class="btn-group btn-group-justified" style="border:2px groove grey;width: 100%;margin-top: 10px;">
        <ng-container *ngFor="let system of ExamSystems">
            <a data-toggle="tab" id="div_{{system.systemType}}" (click)="openTab(system)" title="{{system.systemDesc}}"
                class="btn btn-style systems-tab-style">{{system.systemCode}}</a>
        </ng-container>
    </div>

<div class="row" style="margin-top: 10px;">
    <div class="col-md-4 col-sm-12">
        <!-- ROS Questionaire Table -->
       
                <ng-container *ngFor="let group of questionGroupList;let i=index">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-2">
                            <a data-toggle="tab" id="ros_{{i}}"   title={{group.questionGroupName}} (click)="goToSelectedTab(group,i)"
                                class="btn btn-style btn-left question-group-style" 
                                data-toggle="modal">
                                <div class="question-group-name">{{group.questionGroupName}}
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-1 col-xs-10">
                            <input type="checkbox" id="icd_{{group.questionGroupName}}" [checked]="isChecked(group.questionGroupId)" (change)="showDiv(group,$event)"
                                name="checkListItem">
                            <label for="icd_{{group.questionGroupName}}" style="margin-top: 15px;"></label>
                        </div>
                    </div>
                </ng-container>
          
        
    </div>

  <div class="col-md-8">    
    <div *ngFor="let question of questionGroupList">
        <div id="div_{{question.questionGroupId}}" [style.display]="question.questionGroupId==questionGroupId?'block':'none'">
            <div class="card col-md-9 col-sm-6" [ngClass]="questionGroupName == 'Medication Allergy'? 'med-allergy-card-style':'question-card-style'">
                <h5 class="text-center">
                    <b> {{questionGroupName}}</b>
                </h5>

                <ng-container *ngFor="let commonQues of commonQuestionsList;let i=index">
                    <div class="row " *ngIf="commonQues.questionGroupId===question.questionGroupId">

                        <div class="col-md-4">
                            <label class="text-dark">{{commonQues.questionDesc}}
                            </label>
                        </div>

                        <div class="col-md-8 col-sm-6">
                            <!-- <label class="text-dark">{{commonQues.questionDesc}}
                            </label> -->

                              <!-- radio div -->
                              <div class="col-md-4 col-sm-5" *ngIf="commonQues.optionType=='radio'">
                                <span *ngFor="let options of commonQues.optionRecord">
                                    <input  name="radio{{i}}" type="radio" id="radioType_{{i}}" [checked]="isCheckedRadio(options.optionId)" [(ngModel)]="selectedRadioValue[commonQues.questionId]" [ngModelOptions]="{standalone: true}" [value]="options.optionId"
                                        (input)="onRowEdit(commonQues,options)" />
                                    <label class="text-dark" for="radioType_{{i}}">{{options.optionNames}}</label>
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                </span>
                            </div>

                           

                            <div class="col-md-4 col-sm-5" *ngIf="commonQues.optionType=='dropdown'">
                                <select id="dropdown{{i}}" style="width: 100%;" [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" (change)="onRowEdit(commonQues,$event)">
                                    <option [value]="0">Please Select</option>
                                    <option class="decrease-height" *ngFor="let options of commonQues.optionRecord" [value]="options">{{options.optionNames}}
                                    </option>
                                </select>
                            </div>

                            <div class="col-md-4 col-sm-5"
                            *ngIf="commonQues.optionType=='text'">
                            <input type="text" id="text{{commonQues.questionId}}"  [readonly]="commonQues.questionDesc=='BMI'"
                                [(ngModel)]="textVal[commonQues.questionId]" style="width: 400px;"
                                [ngModelOptions]="{standalone: true}"
                                class="form-control input-color-style"
                                (input)="onRowEdit(commonQues,$event)">
                        </div>

                        <div class="col-md-4 col-sm-5"
                        *ngIf="commonQues.optionType=='tdropdown'">
                        <div class="col-md-6" style="width: 300px;margin-top: 5px;">
                            <input type="text"
                                id="showText{{commonQues.questionId}}"
                                [(ngModel)]="textDropdownVal[commonQues.questionId]"
                                [ngModelOptions]="{standalone: true}"
                                placeholder="Value"
                                class="form-control  input-color-style"
                                (input)="onRowEdit(commonQues,$event)">
                        </div>
                        
                    </div>


                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
  </div>
</div>

    <div class="col-md-offset-9 col-sm-offset-7 col-xs-offset-6">
        <button type="submit" class="btn button" id="saveNext" (click)="onSubmit();">Save & Next
        </button>
        <button type="submit" class="btn button">Back</button>     

    </div>




 
</form>        