<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header" data-background-color>
              <div class="col-sm-5 col-md-4 col-xs-5">
                <ngx-spinner
                  bdColor="transparent"
                  loadingText="Loading"
                  size="medium"
                ></ngx-spinner>
              </div>
              <div class="col-sm-4 col-md-4 col-xs-4">
                <h4 class="title">Patient List</h4>
              </div>
              <div class="col-sm-3 col-md-4 col-xs-3">
                <button class="btn btn-primary pull-right" (click)="addPatient()">
                  Add Patient
                </button>
              </div>
            </div>
            <div class="card-content table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th *ngFor="let header of dataTable.headerRow">
                      {{ header }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of dataTable.dataRows">
                    <td>{{ row.patientName }}</td>
                    <td>{{ row.mrn }}</td>
                    <td>{{ row.gender }}</td>
                    <td>{{ DateOfBirth(row.dob) | date }}</td>
                    <td>{{ row.provider }}</td>
                    <td>{{ displayPatientAddress(row) }}</td>
                    <td>{{ row.encounter }}</td>
                    <td>
                      <button
                        class="btn btn-info"
                        (click)="openUpdatePatient(row.id)"
                      >
                        Edit
                      </button>
                    </td>
                    <td>
                      <button
                        class="btn btn-warning"
                        [disabled]="disabled(row.additionalInfo)"
                      >
                        Additional Info
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-md-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search"
                    (input)="searchdata($event)"
                  />
                </div>
                <div class="col-md-6">
                  <select
                    class="form-control"
                    (change)="changePage($event)"
                  >
                    <option value="1">Page 1</option>
                    <option value="2">Page 2</option>
                    <option value="3">Page 3</option>
                    <!-- Add more pages as needed -->
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button
                    class="btn btn-secondary"
                    (click)="advanceSearchPatient()"
                  >
                    Advanced Search
                  </button>
                  <button
                    class="btn btn-secondary"
                    (click)="resetAdvanceSearch()"
                  >
                    Reset
                  </button>
                  <button
                    class="btn btn-secondary"
                    (click)="closeAdvanceSearchModal()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  