<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <u><a href="https://www.datasysamerica.com/">
                        Company
                    </a></u>
                </li>
                <li>
                      <u>  <a style="color: black !important" href="https://www.datasysamerica.com/about-us/">
                          About Us
                      </a></u>
              </li>
                
                <li>
                <u><a style="color: black !important" href="https://www.datasysamerica.com/contact-us/">
                       Contact
                    </a></u>
                </li>
            </ul>
        </nav>
        <p style="color: black" class="copyright pull-right footer">
            &copy; {{test | date: 'yyyy'}} <a style="color: black !important" href="https://www.datasysamerica.com/">Datasys Consulting and Software Inc.</a>, made with <span style="color:red;font-size:20px"> &hearts; </span> for  better Electronic Health
            Records
        </p>
    </div>
</footer>
