<div class="logo">
    <div class="logo-img">
      <span class="icon">
        <p>
          <b class="ehr-class">Eco EHR</b>
        </p>
      </span>
    </div>
  </div>
  
  <div class="sidebar-wrapper">
    <span class="timer">
      <ehr-timer title="Time left for Activity"></ehr-timer>
    </span>
    <div class="user">
      <div class="photo">
        <img [src]="staffImage" alt="Staff Image" />
      </div>
      <div class="info">
        <a id="LoggedInUserName" data-bs-toggle="collapse" href="#collapseExample" class="collapsed">
          <span>{{ loggedInUser?.firstName }} {{ loggedInUser?.lastName }}<b class="caret"></b></span>
        </a>
        <div id="collapseExample" class="collapse">
          <ul class="nav">
            <li>
              <a routerLink="/profiles/editprofile/profile">
                <span class="sidebar-mini"><i class="material-icons">build</i></span>
                <span class="sidebar-normal">Profile Settings</span>
              </a>
            </li>
            <li>
              <a style="color: black !important" routerLink="/profiles/feedback">
                <span class="sidebar-mini"><i class="material-icons">chat</i></span>
                <span class="sidebar-normal">Feedback</span>
              </a>
            </li>
            <li>
              <a href="#" (click)="logout()">
                <span class="sidebar-mini"><i class="material-icons">exit_to_app</i></span>
                <span class="sidebar-normal">Sign Out</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="isMobileMenu()">
      <!-- Code for mobile menu, can be uncommented if needed -->
    </div>
    <div class="nav-container">
      <ng-container *ngIf="!isadmin; else admin_menu">
        <ul class="nav">
          <li *ngFor="let menuitem of menuItems" routerLinkActive="active">
            <!-- If it's a single link -->
            <a *ngIf="menuitem.type === 'link'" [routerLink]="[menuitem.path]">
              <i class="material-icons">{{ menuitem.icontype }}</i>
              <p>{{ menuitem.title }}</p>
            </a>
            <!-- If it has a submenu -->
            <a
              *ngIf="menuitem.type === 'sub' && menuitem.collapse !== 'admin'"
              data-bs-toggle="collapse"
              [attr.href]="'#' + menuitem.collapse"
              (click)="updatePS()"
            >
              <i class="material-icons">{{ menuitem.icontype }}</i>
              <p>{{ menuitem.title }}<b class="caret"></b></p>
            </a>
            <!-- Display the submenu items -->
            <div id="{{ menuitem.collapse }}" class="collapse" *ngIf="menuitem.type === 'sub'">
              <ul class="nav">
                <li *ngFor="let childitem of menuitem.children" routerLinkActive="active">
                  <a [routerLink]="[menuitem.path, childitem.path]">
                    <span class="sidebar-mini">
                      <i class="material-icons">{{ childitem.icontype }}</i>
                    </span>
                    <span class="sidebar-normal">{{ childitem.title }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </ng-container>
  
      <ng-template #admin_menu>
        <ul class="nav">
          <li *ngFor="let menuitem of menuItems" routerLinkActive="active">
            <!-- If it's a single link -->
            <a *ngIf="menuitem.type === 'link'" [routerLink]="[menuitem.path]">
              <i class="material-icons">{{ menuitem.icontype }}</i>
              <p>{{ menuitem.title }}</p>
            </a>
            <!-- If it has a submenu -->
            <a data-bs-toggle="collapse" [attr.href]="'#' + menuitem.collapse" (click)="updatePS()">
              <i class="material-icons">{{ menuitem.icontype }}</i>
              <p>{{ menuitem.title }}<b class="caret"></b></p>
            </a>
            <!-- Display the submenu items -->
            <div id="{{ menuitem.collapse }}" class="collapse" *ngIf="menuitem.type === 'sub'">
              <ul class="nav">
                <li *ngFor="let childitem of menuitem.children" routerLinkActive="active">
                  <a [routerLink]="[menuitem.path, childitem.path]">
                    <span class="sidebar-mini">
                      <i class="material-icons">{{ childitem.icontype }}</i>
                    </span>
                    <span class="sidebar-normal">{{ childitem.title }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
  