#headData{
    background-color: #4A99C7;
    width: 96%;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

#text{
    text-align: center;
    color:white ;
    margin-top: 10px;
}