<div class="container">

    <div class="header">
        <div class="col-md-4">
            <h3 style="font-weight: bold;">Review Of System (ROS)</h3>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-1"><a (click)="HpiComp()">HPI</a></div>
                <div class="col-md-1"><a (click)="Roscomp()">ROS</a></div>
                <div class="col-md-2"><a (click)="Medicationcomp()">Medication</a></div>
                <div class="col-md-2"><a (click)="Historycomp()">History</a></div>
                <div class="col-md-2"><a (click)="Examcomp()">Exam</a></div>
                <div class="col-md-1"><a (click)="plancomp()" ></a>plan</div>
            </div>
        </div>

    </div>

</div>


<div class="row">
    <div class="col-md-12">
        <div class="col-md-4">Last Name :{{patientRecords.lastName}}</div>
        <div class="col-md-4">First Name :{{patientRecords.firstName}}</div>
        <div class="col-md-4"> DOB:{{patientRecords.dob}}  </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-4">List of Allergy</div>
        <div class="col-md-4">Sex {{patientRecords.gender}}</div>
        <div class="col-md-4">Time {{patientRecords.createdDate}}</div>
    </div>
 
</div>



<div class="container-fluid" style="border: 2px groove red;">

<form [formGroup]="ROSForm" mmethod="#" action="">
    <div class="btn-group btn-group-justified">
        <ng-container *ngFor="let system of ROSSystems">
            <a data-toggle="tab" id="div_{{system.systemType}}" (click)="openTab(system)" title="{{system.systemDesc}}"
                class="btn btn-style systems-tab-style ">{{system.systemCode}}</a>
        </ng-container>
    </div>

<div class="row">
    <div class="col-md-4 col-sm-12">
        <!-- ROS Questionaire Table -->
       
                <ng-container *ngFor="let group of questionGroupList;let i=index">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-2">
                            <a data-toggle="tab" id="ros_{{i}}"   title={{group.questionGroupName}} (click)="goToSelectedTab(group,i)"
                                class="btn btn-style btn-left question-group-style" 
                                data-toggle="modal">
                                <div class="question-group-name">{{group.questionGroupName}}
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-1 col-xs-10">
                            <input type="checkbox" id="icd_{{group.questionGroupName}}" [checked]="isChecked(group.questionGroupId)" (change)="showDiv(group,$event)"
                                name="checkListItem">
                            <label for="icd_{{group.questionGroupName}}"></label>
                        </div>
                    </div>
                </ng-container>
          
        
    </div>
 <div class="col-md-8">
    <div *ngFor="let question of questionGroupList">
        <div id="div_{{question.questionGroupId}}" [style.display]="question.questionGroupId==questionGroupId?'block':'none'">
            <div class="card col-md-9 col-sm-6" [ngClass]="questionGroupName == 'Medication Allergy'? 'med-allergy-card-style':'question-card-style'">
                <h5 class="text-center">
                    <b> {{questionGroupName}}</b>
                </h5>

                <ng-container *ngFor="let commonQues of commonQuestionsList;let i=index" >
                    <div class="row " *ngIf="commonQues.questionGroupId===question.questionGroupId">
                        <div class="col-md-8 col-sm-6" style="border: 4px red;">
                            <label class="text-dark">{{commonQues.questionDesc}}
                            </label>

                              <!-- radio div -->
                              <div class="col-md-4 col-sm-5" *ngIf="commonQues.optionType=='radio'">
                                <span *ngFor="let options of commonQues.optionRecord">
                                    <input  name="radio{{i}}" type="radio" id="radioType_{{i}}" [checked]="isCheckedRadio(options.optionId)" [(ngModel)]="selectedRadioValue[commonQues.questionId]" [ngModelOptions]="{standalone: true}" [value]="options.optionId"
                                        (input)="onRowEdit(commonQues,options)" />
                                    <label class="text-dark" for="radioType_{{i}}">{{options.optionNames}}</label>
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                </span>
                            </div>

                           

                            <div class="col-md-4 col-sm-5" *ngIf="commonQues.optionType=='dropdown'">
                                <select id="dropdown{{i}}" style="width: 100%;" [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" (change)="onRowEdit(commonQues,$event)">
                                    <option [value]="0">Please Select</option>
                                    <option class="decrease-height" *ngFor="let options of commonQues.optionRecord" [value]="options">{{options.optionNames}}
                                    </option>
                                </select>
                            </div>


                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div class="col-md-offset-9 col-sm-offset-7 col-xs-offset-6">
    <button type="submit" class="btn button" id="saveNext" (click)="onSubmit();">Save & Next
    </button>
    <button type="submit" class="btn button">Back</button>     

</div>
</div>


  




 
</form>        
    
</div>

