<div class="container-fluid">
    <div class="row" style="background-color: #4A99C7;width: 97%;margin-left: 10px;margin-top: 15px;border-radius: 10px;">
        <div class="col-md-10">
            <h1 style="text-align: center;">Encounter Details</h1> 
        </div>

        <div class="col-md-2">

         
                <i class="fa fa-window-close" [mat-dialog-close]="false" style="margin-left: 100px;margin-top: 15px;color: white;" 
             aria-hidden="true"></i>
           
          
        </div>
       
       
    </div>
</div>
<div class="container-fluid scrollable-container" style="width: 1000px;">
<div class="container" style="width: 800px;">
    <div class="row">
        <h2 style="text-align: center;color: #4A99C7;">Patient Details</h2>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4> <a style="font-weight: bold;size: 18px;">Patient Name : </a>  {{patientRecords.lastName}}  </h4>
        </div>
        <div class="col-md-6">
            <h4><a style="font-weight: bold;size: 18px;">Dob :</a> {{patientRecords.dob | date:'shortDate'}}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4><a style="font-weight: bold;size: 18px;">Physician : </a>{{patientRecords.providerFirstName}} {{patientRecords.providerLastName}}  {{patientRecords.designation}}  </h4>
        </div>
        <div class="col-md-6">
            <h4><a style="font-weight: bold;size: 18px;">Gender : </a>   {{patientRecords.gender}}</h4>
        </div>
    </div>
    <hr>

    <div class="row">
        <h4 style="text-align: center;color: #4A99C7;font-weight: bold;">Encounter Details</h4>
    </div>

    <div class="row">
                    <div class="col-md-6">
                        <h4><a style="font-weight: bold;size: 18px;">Chief Compliant : </a>{{encounter.chiefCompliant}}</h4>
                    </div>

                    <div class="col-md-6">
                        <h4><a style="font-weight: bold;size: 18px;">Encounter Date : </a> {{encounter.completionDate | date:'shortDate'}}</h4>
                    </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h4> <a style="font-weight: bold;size: 18px;">Level ofAcuity : </a> {{encounter.emId}}</h4>
        </div>

        <div class="col-md-6">
            <h4> <a style="font-weight: bold;size: 18px;">Patient Unique Character  : </a>{{encounter.patientUniqueCharacters}}</h4>
        </div>
    </div>
</div>

<hr>

        <div class="row">
            <h4 style="text-align: center;color: #4A99C7;font-weight: bold;">ICD-10 CODE DETAILS</h4>
        </div>

        <table style="margin-left: 20px;width: 90%;">
            <thead >
                <th style="width: 30%;font-size:16px;background-color: #4A99C7;text-align: center;border: 2px groove white;">Icd Code</th>
                <th style="width: 70%;font-size:16px;background-color: #4A99C7;text-align: center;border: 2px groove white;">Description</th>
            </thead>
            <tbody>
                <tr>
                   <td style="border: 2px groove white;margin-left: 40px;color: #4A99C7;"> {{icdCode}}</td>
                   <td style="border: 2px groove white;margin-left: 40px;">{{description}}</td>
                </tr>
                

            </tbody>
        </table>

        <!-- <div class="row">
            <div class="col-md-6">
              <h4 style="margin-left: 40px;color: #4A99C7;">{{icdCode}}</h4>
             </div>

             <div class="col-md-6">
                <h4>{{description}}</h4>
            </div>

        </div> -->


        <hr>

<div class="container-fluid">
    <div class="row">
        <h1 style="margin-left: 350px;margin-top: 10px;font-size: 20px;color: #4A99C7;">Active Mediactions</h1>
    </div>
    <table class="table table-bordered">
        <tbody style="overflow-y:auto; height:150px;display:bdata;">
            <tr>
                <th class="text-center">Indication
                </th>
                <th class="text-center">Medication
                </th>
                <th class="text-center">Form</th>
                <th class="text-center">Dose</th>
                <th class="text-center">Route</th>
                <th class="text-center">Frequency
                </th>
                <th class="text-center">Refill</th>
            
            </tr>
            <tr *ngFor="let medication of medicationByEncId">
             
                <td class="text-center">
                        <div>{{medication.icd10Code}}</div>
                </td>
                <td class="text-center">
                        <div>{{medication.productName}}</div>
                </td>
                <td class="text-center">
                        <div>{{medication.form}}</div>
                </td>
                <td class="text-center">
                        <div>{{medication.dose}}</div>
                </td>
                <td class="text-center">
                        <div>{{medication.route}}</div>
                </td>
                <td class="text-center">
                        <div>{{medication.frequency}}</div>
                </td>
                <td class="text-center">
                        <div>{{medication.refillCount}}</div>
                </td>
                
              
        </tr>

           
        </tbody>
    </table>

</div>


<div class="container-fluid">
    <div class="row">
        <h1 style="margin-left: 350px;margin-top: 10px;font-size: 20px;color: #4A99C7;">In Active Medications</h1>
    </div>

    <table class="table table-bordered">
        <tbody style="overflow-y:auto; height:150px;display:bdata;">
            <tr>
                <th class="text-center">Indication
                </th>
                <th class="text-center">Medication
                </th>
                <th class="text-center">Form</th>
                <th class="text-center">Dose</th>
                <th class="text-center">Route</th>
                <th class="text-center">Frequency
                </th>
                <th class="text-center">Refill</th>
                
            </tr>
            <tr *ngFor="let medication of inactiveMedicationByEncId">
             
                <td class="text-center">
                        <div>{{medication.icd10Code}}</div>
                </td>
                <td class="text-center">
                        <div>{{medication.productName}}</div>
                </td>
                <td class="text-center">
                        <div>{{medication.form}}</div>
                </td>
                <td class="text-center">
                        <div>{{medication.dose}}</div>
                </td>
                <td class="text-center">
                        <div>{{medication.route}}</div>
                </td>
                <td class="text-center">
                        <div>{{medication.frequency}}</div>
                </td>
                <td class="text-center">
                        <div>{{medication.refillCount}}</div>
                </td>
                
              
        </tr>

           
        </tbody>
    </table>
</div>






</div>







